/*************************
****  Main Styles *******/

.body {
	padding-top: 50px;
}
.main-container {
	max-width: 800px;
	margin: auto;
}
.company {
	text-align: left;
	margin: 50px auto 0 auto;
}
.logo {
	height: 110px;
	width: 350px;
	margin-bottom: 20px;
}
.left-frame {
	position: relative;
	display: inline-block;
	margin: 0 20px 0 45px;
}
.right-frame {
	display: inline-block;
	width: 360px;
}
@media(max-width: 973px) {
	.left-frame {
		top: -30px;
	}
	.right-frame {
		margin: 20px 0 0 45px;
	}
}
.center {
	margin-left: auto 0;
}
h1.center {
	text-align: center;
}
.part-form-title h2 {
	width: 130px;
	display: inline-block;
}
.part-form-title .form-error {
	margin-left: 10px;
}
.asset-manager-container .error {
	display: inline-block;
}
.asset-manager-container table .delete {
	width: 103px;
	text-align: center;
}
.asset-manager-container table .id {
	width: 70px;
}
.asset-manager-container table .close {
	display: inline;
	float: none;
	width: 85px;
}
.container {
	margin-left: 20px;
	max-width: 800px;
}
.container h2.user-view-title {
	margin-bottom: 20px;
}
.container table {
	margin-bottom: 20px;
}
.container label {
	font-weight: 400;
}
.container table .company {
	width: 150px;
}
.container table .part-name {
	width: 150px;
}
.container table .brand {
	width: 150px;
}
.users-list {
	display: inline-block;
	margin-left: 40px;
	vertical-align: top;
}
.users-index h2 {
	width: 300px;
}
.user-create-form{
	display: inline-block;
	width: 300px;
}
.user-create-form .help-block {
	display: none;
}
.bid-amount {
	position: relative;
	margin: 20px 0;
}
.bid-amount input {
	margin-top: 5px;
	width: 75px;
}
.bid-amount .dollars {
	position: absolute;
	left: 118px;
	top: 31px;
}
.parts-footnote {
	font-weight: 700;
	font-style: italic;
}
.part-create-form {
	margin-bottom: 50px;
}
.part-create-form .input > input {
	width: 200px;
}
.part-info-section {
	display: inline-block;
	width: 50%;
}
.part-detail-error {
	background: #ffcccc;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: -21px;
	border-radius: 2px;
}
.part-detail-select {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.part-detail-select select {
	width: 250px;
	height: 110px;
}
.part-select {
	margin: 20px 0;
}
.part-select select {
	margin-top: 5px;
}
.input > input {
	width: 170px;
	float: left;
}
#description {
	width: 350px;
}
.no-parts-msg, .no-bids-msg {
	font-weight: 700;
	text-align: center;
}

/*************************
** Bootstrap Overrides **/

.help-block {
		position: relative;
		top: -25px;
		left: 7px;
		font-size: 0.8em;
}
.container .help-block {
	display: none;
}
button.btn.btn-primary {
	position: relative;
	top: 15px;
}

/*************************
***** Pure Overrides ****/

.bid-create-form .pure-button-error {
	margin-top: 10px;
}

.pure-button-error {
	margin-top: 23px;
}
.pure-button-error.close{
	margin-top: 0px;
	border: none;
}
.container h2 {
	margin: 0px;	
}