@(user: User)

@import helper._
@import helper.twitterBootstrap._

@main("MedTech Asset Manager") {
<div class="main-container">
    <h1 class="center">Asset Manager</h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MedTech</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/parts">Parts</a></li>
            @if(("admin").equals(session.get("username"))) {
                <li class="active"><a href="/bids">Bids</a></li>
                <li><a href="/users">Users</a></li>
            } else {
                <li><a href="/users/@User.getByUsername(session().get("username")).id">My Bids</a></li>
            }
                <li class="nav-logout"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2 class="center user-view-title">@user.name's bids</h2>    
        <table class="pure-table pure-table-horizontal users-list">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Brand</td>
                    <td>Bid Price</td>
                    <td>Quantity</td>
                    <td>Description</td>

                    @if(("admin").equals(session.get("username"))) {
                    <td>Delete</td>
                    } else {
                    <td>Comment</td>
                    }
                </tr>
            </thead>
            <tbody>
            @for(bid <- user.bids) {
                <tr class="user-row">
                    <td>@bid.id</td>
                    <td>@bid.part.label</td>
                    <td>@bid.part.vendor</td>
                    <td>$@bid.value</td>
                    <td>@bid.part.quantity</td>
                    <td>@bid.part.description</td>
                    @if(("admin").equals(session.get("username"))) {
                    <td class="delete">
                        @form(routes.Bids.deleteBid(bid.id)){
                            <input class="pure-button-error close"  type="submit" value="X" />
                        }
                    </td>
                    } else {
                    <td>@bid.comment</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</diV>
}