@(bids: List[Bid], bidForm: Form[Bid], users: List[User])

@import helper._
@import helper.twitterBootstrap._

@main("MedTech Asset Manager") {
<div class="main-container">
    <h1 class="center">Asset Manager</h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MedTech</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/parts">Parts</a></li>
            @if(("admin").equals(session.get("username"))) {
                <li class="active"><a href="/bids">Bids</a></li>
                <li><a href="/users">Users</a></li>
            } else {
                <li><a href="/users/@User.getByUsername(session().get("username")).id">My Bids</a></li>
            }
                <li class="nav-logout"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>


    @if(("admin").equals(session.get("username"))) {
        <div class="container">
            <table class="pure-table pure-table-horizontal orders-list">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td class="part-name">Part</td>
                        <td class="bid-value">Value</td>
                        <td class="company">Company</td>
                        <td>Contact Person</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                @if(bids.length == 0){
                    <tr>
                        <td colspan="6"><div class="no-bids-msg">There are currently no bids in the system.</div>
                        </td>
                    </tr>
                }
                @for(bid <- bids) {
                    <tr class="order-row">
                        <td class="id">@bid.id</td>
                        <td class="part-name">
                            <a href="/bids/@bid.part.id/new" action="submit">@bid.part.label</a>
                        </td>
                        <td class="bid-value">@bid.value</td>
                        <td class="company">@bid.user.companyName</td>
                        <td>@bid.user.name</td>
                        <td class="delete">
                        @form(routes.Bids.deleteBid(bid.id)){
                            <input class="pure-button-error close"  type="submit" value="X">
                        }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>    
    }
</div>
}