@(bidForm: Form[Bid], users: List[User])

@import helper._
@import helper.twitterBootstrap._

@main("New Bid") {
<div class="main-container">
    <h1 class="center">Asset Manager</h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MedTech</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/parts">Parts</a></li>
            @if(("admin").equals(session.get("username"))) {
                <li class="active"><a href="/bids">Bids</a></li>
                <li><a href="/users">Users</a></li>
            } else {
                <li><a href="/users/@User.getByUsername(session().get("username")).id">My Bids</a></li>
            }
                <li class="nav-logout"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Place New Bid</h2>
        <div class="bid-create-form">
        @form(routes.Bids.createBid()) {
            <div class="bid-amount">
                @inputText(bidForm("value"), args = '_label -> "Enter Bid Amount", 'placeholder -> "Amount")<span class="dollars">dollars</span>
            </div>
                @textarea(bidForm("comment"), args = 'rows -> 3, 'cols -> 50, '_label -> "Comment (optional)", 'placeholder -> "Example: I would like only a qty of 2 of these.")
            <button class="pure-button-error" type="submit" value="Submit">Submit</button>
        }
        </div>
    </div>
</div>
}