@(parts: List[Part], bidForm: Form[Bid], users: List[User])

@import helper._
@import helper.twitterBootstrap._

@main("New Bid") {
<div class="container">
    <h1 class="center">Asset Manager</h1>
    <h2>Place New Bid</h2>
    <div class="bid-create-form">
    @form(routes.Bids.createBid()) {
        
        <div class="bid-amount">
            @inputText(bidForm("value"), args = '_label -> "Enter Bid Amount", 'placeholder -> "Amount")<span class="dollars">dollars</span>
        </div>
        <div class="part-select">
            @select(bidForm("part.id"), parts.map { part => part.id.toString -> part.label }, args = '_label -> "Select a part to bid on")
        </div>   
        <button class="pure-button-error" type="submit" value="Submit">Submit</button>
        <button class="pure-button-error" type="submit" value="Cancel" action="@routes.Parts.index()">Cancel</button>
    }
    </div>
</div>    
}