@(part: Part, bidForm: Form[Bid], users: List[User], errorMsg: String)

@import helper._
@import helper.twitterBootstrap._

@main("New Bid") {
<div class="main-container">
    <h1 class="center">Asset Manager</h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MedTech</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/parts">Parts</a></li>
            @if(("admin").equals(session.get("username"))) {
                <li class="active"><a href="/bids">Bids</a></li>
                <li><a href="/users">Users</a></li>
            } else {
                <li><a href="/users/@User.getByUsername(session().get("username")).id">My Bids</a></li>
            }
                <li class="nav-logout"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>


    
    <div class="container">
        @if(errorMsg != null) {
            <div class="part-detail-error">@errorMsg</div>
        }
        @if(part != null) {
            <div class="part-info-section">
                <h2>@part.label</h2>
                <div class="part-desc">
                    <p><b>Description:</b> @part.description</p>
                </div>
                <div class="part-vendor">
                    <p><b>Vendor:</b> @part.vendor</p>
                </div>
                <div class="part-quantity">
                    <p><b>Quantity:</b> @part.quantity</p>
                </div>
                <div class="part-bid-count">
                    <p><b>Number of Bids:</b> @part.bids.size()</p>
                </div>
            </div>
        }
        <div class="part-detail-select">
            @if(part == null) {
                <h2>Please select a part:</h2>
            } else {
                <h2>Select a different part?</h2>
            }
            <select class="part-select" id="part-select" name="part-select" multiple="false">
            @for(p <- Part.all()){
                <option value="@p.id" data-id="@p.id">@p.label</option>
            }
            </select>
        </div>



        @if(!("admin").equals(session().get("username"))) {
            <hr />
            <h2>Place New Bid</h2>
            <div class="bid-create-form">
            @if(part != null) {
                @form(routes.Bids.createBid(part.id)) {
                    <div class="bid-amount">
                        @inputText(bidForm("value"), args = '_label -> "Enter Bid Amount", 'placeholder -> "Amount")<span class="dollars">dollars</span>
                    </div>
                        @textarea(bidForm("comment"), args = 'rows -> 3, 'cols -> 50, '_label -> "Comment (optional)", 'placeholder -> "Example: I would like only a qty of 2 of these.")
                    <button class="pure-button-error" type="submit" value="Place Bid">Place Bid</button>
                }
            } else {
                <br />
                <h3>You must select a part to place a bid...</h3>
            }
        }
    </div>
</div>
</div>
<script>
    $(function() {
        $('select option').on('click', function() {
            window.location.href = "/bids/" + $(this).attr('data-id') + "/new"
        })
        $('select').children().first().trigger('change')
    })
    </script>
}