@(parts: List[Part], partForm: play.data.Form[Part])

@import helper._
@import helper.twitterBootstrap._

@main("MedTech Asset Manager") {
<div class="main-container">
    <h1 class="center">Asset Manager</h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MedTech</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/parts">Parts</a></li>
            @if(("admin").equals(session.get("username"))) {
                <li><a href="/bids">Bids</a></li>
                <li><a href="/users">Users</a></li>
            } else {
                <li><a href="/users/@User.getByUsername(session().get("username")).id">My Bids</a></li>
            }
                <li class="nav-logout"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>  
    <div class="container">
        <table class="pure-table pure-table-horizontal parts-list">
            <thead>
                <tr>
                    <td class="part-name">Name</td>
                    <td class="brand">Brand</td>
                    <td>Quantity</td>
                    <td>Description</td>
                    <td>Attachment</td>
                    @if(("admin").equals(session().get("username"))) {
                        <td class="delete">Delete</td>
                    }
                </tr>
            </thead>
            <tbody>
            @if(parts == null || parts.size() == 0) {
                <tr>
                @if(("admin").equals(session().get("username"))) {
                    <td colspan="5">
                } else {
                    <td colspan="4">
                }
                        <div class="no-parts-msg">There are currently no parts in the System.</div>
                    </td>
                </tr>
            }
            @for(part <- parts) {
                <tr class="part-row">
                    <td class="part-name">
                        <a href="/bids/@part.id/new" action="submit">@part.label</a>
                    </td>
                    <td class="vendor">@part.vendor</td>
                    <td class="">@part.quantity</td>
                    <td class="description">@part.description</td>
                    <td class="attachment">
                        @if(part.attachmentName != null) {
                            <a href="@routes.Assets.at("assets/" + part.attachmentName)" target="_blank">
                           		<div class="desc-icon"></div>
                            </a>
                        }
                    </td>
                    @if(("admin").equals(session().get("username"))) {
                    <td class="delete">
                        @form(routes.Parts.deletePart(part.id)) {
                            <input class="pure-button-error close" type="submit" value="x">
                        }
                    </td>
                    }
                </tr>
            }
            </tbody>
        </table>
        <div class="parts-footnote">Click for full description or to place a bid</div>
        <hr />
        @if(("admin").equals(session().get("username"))) {
            <div class="part-form-title">
                <h2>Add New Part</h2>
                <span class='form-error'></span>
            </div>
            <div class="part-create-form">
            @form(routes.Parts.newPart(), 'class -> "new-part-form", 'enctype -> "multipart/form-data") {
				
                @inputText(partForm("creator"), args = '_label -> "Your Name: ", '_showConstraints -> true, 'placeholder -> "Your Full Name")
                @inputText(partForm("division"), args = '_label -> "Division: ", '_showConstraints -> true, 'placeholder -> "Your URMC Division")
                @inputText(partForm("email"), args = '_label -> "Email: ", '_showConstraints -> true, 'placeholder -> "You email address")                                 
                @inputText(partForm("phone"), args = '_label -> "Phone: ", '_showConstraints -> true, 'placeholder -> "Ex. 555-555-5555")
                @inputText(partForm("label"), args = '_label -> "Part Name: ", '_showConstraints -> true, 'placeholder -> "Label")
                @inputText(partForm("vendor"), args = '_label -> "Vendor Name:", '_showConstraints -> true, 'placeholder -> "aka: Manufacturer") 
                @inputText(partForm("quantity"), args = '_label -> "Quantity: ", '_showConstraints -> true, 'placeholder -> "Number available")
				@textarea(partForm("description"), '_label -> "Part Description:", '_showConstraints -> true, 'placeholder -> "Specify information about the condition, location or available options...", 'rows -> 3, 'cols -> 50)
                @inputFile(partForm("attachment"), args = '_label -> "Attach File: (maximum size = 25MB)", '_showConstraints -> true)
                
                <button class="pure-button-error add-part" type="submit" value="add part">Add Part</button>
            }
            </div>
        }
    </div>  
</div>
}
