@(parts: List[Part], partForm: Form[Part])

@import helper._
@import helper.twitterBootstrap._

@main("MedTech Asset Manager") {
<h1 class="center">Asset Manager</h1>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MedTech</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/parts">Parts</a></li>
        @if(("admin").equals(session.get("username"))) {
            <li><a href="/bids">Bids</a></li>
            <li><a href="/users">Users</a></li>
            <li class="nav-logout"><a href="/logout">Logout</a></li>
        </ul>
        } else {
            <li><a href="/users/@User.getByUsername(session().get("username")).id">My Bids</a></li>
        </ul>
        }
    </div>
</nav>  
<div class="container">
    <table class="pure-table pure-table-horizontal parts-list">
        <thead>
            <tr>
                <td class="part-name">Name</td>
                <td class="brand">Brand</td>
                <td>Quantity</td>
                @if(("admin").equals(session().get("username"))) {
                <td class="delete">Delete</td>
                }
            </tr>
        </thead>
        <tbody>
        @for(part <- parts) {
            <tr class="part-row">
                <td class="part-name"><a href="/bids/new/@part.id">@part.label</a></td>
                <td class="brand">@part.brand</td>
                <td class="">@part.quantity</td>
                @if(("admin").equals(session().get("username"))) {
                <td class="delete">
                    @form(routes.Parts.deletePart(part.id)){
                        <input class="pure-button-error close" type="submit" value="x">
                    }
                </td>
                }
            </tr>
        }
        </tbody>
    </table>
    @if(("admin").equals(session().get("username"))) {
        <h2>Add New Part</h2>
        <div class="part-create-form">
        @form(routes.Parts.newPart(), 'enctype -> "multipart/form-data") {
            @inputText(partForm("label"), args = '_label -> "", '_showConstraints -> false, 'placeholder -> "Part Name") 
            
            @inputText(partForm("brand"), args = '_label -> "", '_showConstraints -> false, 'placeholder -> "Vendor") 
            
            @inputText(partForm("quantity"), args = '_label -> "", '_showConstraints -> false, 'placeholder -> "Quantity")
            
            @inputFile(partForm("description"), args = '_label -> "", '_showConstraints -> false)
            
            <button class="pure-button-error add-part" type="submit" value="add part" />Add Part</button>
        }
        </div>
    } else {
        @form(routes.Bids.newBid()) {
            <input class="pure-button-error" type="submit" value="New Bid" />
        }
    }
</div>    
}
